<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>matrix</servlet-name>
		<servlet-class>edu.arizona.biosemantics.matrixreview.server.MatrixService</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>matrix</servlet-name>
		<url-pattern>/matrix_review/matrix</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Matrix_review.html</welcome-file>
	</welcome-file-list>

</web-app>
